.iw-copy-right {
    padding: 12px 0px !important;
}

body .iw-copy-right a {
    color: #f6871f !important;
}

.is-sticky.property-page-heading .container-inner {
    padding: 15px 0 0 !important;
}

.iwp-single-property .page-heading .container-inner {
    padding: 20px 0 20px !important;
}

#menu-home-1 strong,
.header.header-default .is-sticky .navbar-nav>li>a,
.header.header-default .is-sticky .navbar-nav>li>a .icon-arrow:before {
    color: #fff !important;
}

.property-page-heading {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.iwp-single-property-v1 .page-heading.default {
    border-bottom: 2px solid #ffd419;
}

.iwp-single-property .iwp-property-block,
.widget-area.sidebar-property {
    margin-top: 10px;
}

.iwp-single-property .page-heading.default .iw-heading-title .property-address,
.iwp-single-property .iwp-property-has-child-block .iwp-single-property-description {
    color: black !important;
}

.iwp-single-property .property-extra>div i {
    font-size: 25px !important;
}

img.main-logo,
img.sticky-logo {
    width: 180px;
}

.iw-footer-top img {
    width: 180px;
}

.iwp-single-property .iwp-property-has-child-block .iwp-single-property-description p {
    text-align: justify;
}

.header.header-default .is-sticky .navbar-nav>li>a,
.header.header-default.header-style-v5 .navbar-default .navbar-nav>li>a {
    color: #000 !important;
}

.iw-posts.style-2 .post-item .post-bottom {
    display: none !important;
}

.iwp-single-property .page-heading.default .iw-heading-title h1,
.iwp-single-property .property-price .main-price {
    font-size: 20px !important;
    line-height: 1.5;
}

@media screen and (max-width: 991px) {
    .header.header-default .navbar-default .iw-logo .logo-mobile {
        width: 140px !important;
        padding: 5px;
    }

    .iw-heading.style2.vc_custom_1554000930156.text-center {
        padding-top: 60px !important;
    }

    .iwh-description,
    .iw-properties-block .iw-property-block-header.left h2.shortcode-title {
        font-size: 26px !important;
        line-height: 1.4 !important;
    }
}

footer.iw-footer .widget_text .textwidget {
    color: #fff;
}

.iw-property-item.grid-item .iw-property-content .iw-property-title {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 10px 0;
    color: black;
}

.iw-property-item.grid-item .iw-property-content .iw-property-meta .iw-meta-price span {
    font-weight: 700 !important;
    color: red;
}

.iw-property-item.list-item .iw-property-content .iw-property-title a {
    font-size: 18px;
    color: black;
}

.iw-property-item.list-item .iw-property-content .iw-property-price span span {
    color: red;
}

.header .navbar-nav>li.wrap-1-column>.sub-menu {
    width: 360px;
}

.header .iw-header .iw-menu-main .navbar-nav ul.sub-menu>li>a {
    font-size: 15px;
}

div#ez-toc-container p.ez-toc-title {
    border-bottom: 1px solid #8080806b;
    padding-bottom: 5px;
}

#ez-toc-container ul,
.ez-toc-title-container {
    margin: 10px;
}

b,
strong {
    font-weight: 700;
}

.iw-contact-form-7.contact-map .fields label {
    color: black;
}

h1 {
    font-size: 22px;
    line-height: 1.5;
}

h1.post-title {
    font-size: 24px;
    line-height: 1.8;
    color: #f50017;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: bold;
}

h3 {
    font-size: 17px;
}

.iw-property-item.grid-item {
    border: 1.2px #F7941E solid;
}

.iw-search-form .iw-fields .iw-field button.btn-submit {
    background: #F7941E;
}

.iwp-property-gallery-slider-v1 .owl-item figure img {
    padding: 10px 5px 10px 0px;
}

blockquote {
    font-size: 15px !important;
}

.blog-content.single-content .post-text {
    text-align: justify;
}

.post-image img {
    height: 250px;
}

.iw-posts.style-2 .post-item .post-title {
    line-height: 1.5;
}

@media screen and (max-width: 480px) {
    .blog-content.single-content .post-main-content .post-content-top {
        padding-left: 10px;
        padding-right: 10px;
    }
}

thead tr th,
tbody tr td,
tbody tr th,
tfoot tr td,
thead tr th {
    width: 50px;
    text-align: left;
}

.post-text ul,
.entry-content ul {
    margin-left: 0px;
    padding-left: 20px;
}

.blog-content.single-content .comments,
.post-meta {
    display: none;
}

.kk-star-ratings .kksr-stars .kksr-active-stars {
    width: 130px !important;
}

@media screen and (max-width: 991px) {
    .header.header-default .iw-header {
        background: #fff !important;
    }
}

.iw-contact-form-7.contact-map .fields-input .field {
    float: left;
    width: 100%;
    padding: 0px;
}

.iw-contact-form-7.contact-map .field .iw-input select,
.iw-contact-form-7.contact-map .field .iw-input input,
.iw-contact-form-7.contact-map .field .iw-input textarea {
    background: #fff;
    border: 1px solid #cececeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
}

@media (max-width: 767px) {
    .iw-contact-form-7.contact-map .fields-input .field {
        width: 100% !important;
    }
}

.iw-contact-form-7.contact-map {
    padding: 0px !important;
    background: #fff;
    position: relative;
    border-radius: 4px;
}

.blog-content.single-content .post-main-content .post-content-top {
    padding: 40px 15px;
}

@media (max-width: 767px) {
    h1.post-title {
        font-size: 17px;
        line-height: 1.6;
        color: #f50017;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    td {
        width: 18% !important;
    }

    .blog-content.single-content .post-main-content .post-content-top {
        padding: 40px 10px !important;
    }

    .container {
        padding: 10px 5px !important;
    }
}

.wp-caption {
    max-width: 100%;
}

.off-canvas-btn {
    box-shadow: none;
    -webkit-box-shadow: none;
}

li>ul {
    margin-top: 0px !important;
}

a.hotline {
    font-size: 22px;
    font-weight: 900;
}

table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
    border: 1px solid #dcdcdc;
}

td {
    background: #fdfdfd;
}

strong.gia-ban {
    font-size: 17px;
    color: #f94444;
}

.contents-main,
.main-content {
    padding-bottom: 95px;
    padding-top: 25px;
}

.iw-heading {
    margin: 40px 0px 20px 0px;
}

.widget_nav_menu ul li {
    line-height: 1.8;
}